:root {
    --color-violet: rgb(100,216,300);
    --color-darkblue: rgb(50,50,250)
}
body{
    background-color: rgb(29,26,36);
    color:rgb(100,216,300);
    text-align:center;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
            115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)
    ),
    url(http://images6.fanpop.com/image/photos/40300000/The-Legendary-Crystal-Dragon-dragons-40310065-1063-752.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#survey-form{
    text-align: left;
    margin: 0px auto 0px auto;
    padding: 1.5rem 1.625rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5%;
    width: 50vw;
    background-color: rgba(100,100,236,0.5);
}
.submit-button{
    width: 100%;
    background-color: var(--color-violet);
    cursor:pointer;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
}

.form-group {
    margin: 0 auto 0.15rem auto;
    padding: 0.15rem;
}
.form-control{
    width:100%;
}